<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar">
        <nav class="sidebar">
            <a href="/">
                <img class="side_logo_img" src="upload/de-Identification/img/logo.png" alt="">
            </a>
            <ul>
                <li><a href="/deIdentification">비식별화</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴3</a></li>
                <li><a href="#">메뉴4</a></li>
                <li><a href="#">메뉴5</a></li>
                <li><a href="#">메뉴6</a></li>
                <li class="logout"><a href="#">로그아웃</a></li>
            </ul>
        </nav>
    </div>
</html>