<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"-->
<!--      layout:decorate="~{layouts/dashBoard}">-->
<!--<head>-->
<!--    <link rel="stylesheet" href="/lib/css/fileView.css">-->
<!--</head>-->
<!--<div layout:fragment="dashBoard">-->
<!--    <h1 class="upload-title">업로드 파일 목록</h1>-->
<!--    <div class="button-area">-->
<!--        <button id="sendButton" onclick="sendData()">비식별화</button>-->
<!--    </div>-->
<!--    <div class="view-body">-->
<!--        <div class="fileList-container">-->
<!--            <div th:each="fileInfo : ${fileList}" class="card" onclick="toggleCardSelection(this)">-->
<!--                <div class="card-image loading">-->
<!--                    &lt;!&ndash; 이미지 파일인 경우 img 태그 사용 &ndash;&gt;-->
<!--                    <img th:if="${#strings.endsWith(fileInfo, '.jpg') or #strings.endsWith(fileInfo, '.png') or #strings.endsWith(fileInfo, '.jpeg')}" th:src="@{|upload/de-Identification/server/files/${fileInfo}|}" class="file-img">-->

<!--                    &lt;!&ndash; 비디오 파일인 경우 video 태그 사용, 내부에 source 태그로 비디오 소스 지정 &ndash;&gt;-->
<!--                    <video th:if="${#strings.endsWith(fileInfo, '.mp4') or #strings.endsWith(fileInfo, '.avi')}" controls class="file-video">-->
<!--                        <source th:src="@{|upload/de-Identification/server/files/${fileInfo}|}" th:attr="type=${#strings.endsWith(fileInfo, '.mp4') ? 'video/mp4' : 'video/avi'}">-->
<!--                    </video>-->
<!--                </div>-->
<!--                <a href="#" class="card-header loading">-->
<!--                    <p th:text="${fileInfo}" class="card-info loading"></p>-->
<!--                </a>-->
<!--                <input type="checkbox" th:value="${fileInfo}" name="fileCheckbox" class="hidden-checkbox">-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{layouts/dashBoard}">
<head>
    <link rel="stylesheet" href="/lib/css/fileView.css">
</head>
<div layout:fragment="dashBoard">
    <h1 class="upload-title">업로드 파일 목록</h1>
    <div class="dashboard-container">
        <div class="preview-section">
            <!-- 미리보기 섹션 -->
            <div id="previewArea"></div>
        </div>
        <div class="fileList-section">
            <!-- 파일 목록 섹션 -->
            <div class="button-area">
                <button id="sendButton" onclick="sendData()">비식별화</button>
            </div>
            <div class="fileList-container">
                <div th:each="fileInfo : ${fileList}"
                     class="card"
                     th:data-fileinfo="${fileInfo}"
                     onclick="selectFile(this.getAttribute('data-fileinfo'))">
                    <p th:text="${fileInfo}"></p>
                    <input type="checkbox" th:value="${fileInfo}" name="fileCheckbox" class="hidden-checkbox">
                </div>



            </div>
        </div>
    </div>
</div>


</html>

