<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{layouts/dashBoard}">
<head>
    <link rel="stylesheet" href="/lib/css/upload_2.css">
</head>
<div layout:fragment="dashBoard">
    <h1>Upload File Name</h1>
    <div class="upload-container">
        <form action="/uploadFile" method="post" enctype="multipart/form-data">
            <input type="file" name="file" multiple/>
            <input type="submit" value="업로드" />
        </form>
        <div>
            <p th:if="${upload_message}" th:text="${upload_message}"></p>
        </div>
    </div>
    <div>
        <div class="container">
            <div th:each="fileInfo : ${fileList}" class="card">
<!--                <div class="card-image loading">-->
<!--                    <img th:src="@{|/upload/web_images/${fileInfo.name}}">-->
<!--                </div>-->
                <a href="#" class="card-header loading">
                    <p th:text="${fileInfo}" class="card-info loading"></p>
                </a>
                <p th:text="${fileInfo}" class="card-info loading"></p>
            </div>
        </div>
    </div>

</div>



</html>